/*if style not working press Strg+F5 for a hard refresh*/


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    color: #222;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}